<template >
    <div class="content home">
        <div class="box-design box-large introduction">
            <p>
                Het Sociaal Innovatiecentrum (SIC) Smart Working is een initiatief van Fontys Hogeschool HRM en Psychologie die inspeelt op technologische ontwikkelingen in de maatschappij en de regio. 
                Het SIC houdt zich bezig met veel verschillende projecten en één van die projecten heet Digital Twins. Samen met Stichting Stip en Compucraft werkt het SIC aan dit project in opdracht van WeenerXL.
            </p>
            <p>
                Digital Twin is een digitale wereld in VR waar praktische beroepen omgezet zijn naar spelmechanismes, die gemaakt is voor mensen die met afstand tot de arbeidsmarkt. 
                Deze groep heeft veel moeite met kennis over zichzelf hebben en dat ze niet goed weten over wat ze willen/kunnen. 
                Door dit programma te gebruiken wordt het voor deze mensen makkelijker om een beeld te krijgen over henzelf en wat ze qua mogelijkheden hebben.
            </p>
            <p>
                Door het digitale aspect van het product hangen er geen consequenties aan hun daden in de ‘echte’ wereld. 
                Hierdoor is de overgang tussen niet naar wel werken makkelijker begaanbaar voor de doelgroep. 
                Het grote idee erachter is dat het complete werkproces inclusiever en begaanbaarder wordt.
            </p>
            <p>
                De vorige stagiairs hebben Digital Twins ontwikkeld tot een Proof of Concept. 
                Waar zij geëindigd zijn zal ik het oppakken en verder ontwikkelen.
            </p>
        </div>
        <h1 class="title-products">Products</h1>
        <div class="box-design box-large products" id="products">
            <router-link v-for="product of products"
                         v-bind:key="product.productId"
                         :to="{ name: 'Product', params: { productId: product.productId } }"
                         class="product"
                         tag="div">
                <h2> {{ product.title }} </h2>
                <hr />
                <p class="description"> {{ product.description }} </p>
            </router-link>
        </div>
        <h1 class="title-conclusion">Conclusie</h1>
        <div class="box-design box-large conclusion">
            <p>
                Na een paar maanden stage die voorbij gingen als weken is Digital Twins toch naar niveau gekomen. 
                De werkruimte heeft een make-over gekregen, waardoor Unity niet meteen de PC laat opstijgen. 
                Binnen deze ruimte zijn nu drie werkzaamheden gerealiseerd wat met Niels de Vries (VR expert van Compucraft & producteigenaar) is afgesproken. 
                Wanneer de applicatie opstart is er een hoofdmenu waarmee de gebruiker kan navigeren en een uiteindelijk één van de drie werkzaamheden kiezen. 
                Als de gebruiker één van de werkzaamheden heeft gekozen, dan is de mogelijkheid er om met terug te gaan naar het hoofdmenu om een andere werkzaamheid te starten. 
            </p>
            <p>
                Tijdens deze stage heb ik een aantal live demo’s gehouden, hiervan heb ik geleerd dat voor het navigeren met het hoofdmenu en pauzemenu dat het beter is om gebruik te maken van icoontjes in plaats van tekst. 
                Dit heeft de simulatie inclusiever gemaakt, omdat er veel mensen zijn in onze doelgroep die laaggeletterd zijn of de Nederlandse taal niet kennen.
            </p>
            <p>
                In deze periode heb ik veel geleerd naast het programmeren in Unity VR, maar ook qua persoon heb goede keuzes gemaakt waar ik nu nog blij mee kan zijn en fouten gemaakt die me nu nog dwars zitten. 
                Deze fouten zullen mij niet tegenhouden, maar ze moeten wel omgevormd worden tot leermomenten, zodat ik in de toekomst niet nog keer me kop stoot aan dezelfde steen.
            </p>
        </div>
    </div>
</template>

<script>
    import products from "../json/data.json";

    export default {
        name: 'Home',
        data() {
            return {
                products: products
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .content.home h1 {
        margin-top: 2rem;
    }
    .introduction p, .conclusion p {
        font-size: 19px;
        text-align: justify;
    }
    .introduction p:last-child, .conclusion p:last-child {
        margin: 0;
    }
    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px;
    }
    .products .product {
        background-color: #424250;
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 10px;
        box-shadow: 0px 0px 7px 2px #0000004D;
        color: white;
        margin: 10px;
        padding: 15px;
        width: calc(50% - 20px);
        text-decoration-line: none;
        transition: all 50ms;
    }
    .products .product:hover {
        background-color: #515162;
        transform: scale(1.02);
    }
    hr {
        margin: 1rem 3rem;
    }
    .description {
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
