<template>
    <header>
        <div class="fixed-header">
            <router-link class="title-logo" :to="{ name: 'Home' }" title="Terug naar home">
                <h1>Digital Twins</h1>
                <h4><i>Portfolio</i></h4>
            </router-link>
        </div>
        <div class="static-header">
            <router-link class="title-logo" :to="{ name: 'Home' }" title="Terug naar home">
                <h1>Digital Twins</h1>
                <h4><i>Portfolio</i></h4>
            </router-link>
        </div>
    </header>
</template>

<script>
    export default {
        name: "NavMenu",
        data() {
            return {
                isExpanded: false
            }
        },
        methods: {
            collapse() {
                this.isExpanded = false;
            },

            toggle() {
                this.isExpanded = !this.isExpanded;
            }
        }
    }
</script>

<style scoped>
    .static-header, .fixed-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #424250;
        width: 100%;
    }
    .static-header {
        position: absolute;
        height: 160px;
        z-index: 2;
    }
    .fixed-header {
        position: fixed;
        border-bottom: 1px solid rgba(0,0,0,0.3);
        box-shadow: 0px 4px 7px 4px rgba(0,0,0,0.3);
        height: 70px;
        opacity: 0.9;
        z-index: 1;
    }
    .fixed-header .title-logo {
        transform: scale(0.5);
    }
    .title-logo {
        color: white;
        text-decoration: none;
    }
    .title-logo:hover {
        color: rgb(200,200,200);
    }
    h1 {
        font-size: 4rem;
        text-shadow: 2px 2px 7px black;
        margin: 0;
    }
    h4 {
        font-size: 2.68rem;
        font-weight: 100;
        margin: 0;
        margin-top: -18px;
    }
</style>