<template>
    <div class="content problem">
        <div class="box-design box-large">
            <div class="problem-header">
                <div class="title">
                    <router-link class="back-button"
                                 :to="{ name: 'Product', params: { productId: product.productId } }"
                                 v-bind:title="backButtonTitle">
                        <img src="../assets/chevron-left-solid.png" />
                    </router-link>
                    <h2>{{ problem.title }}</h2>
                </div>
                <div class="problem-research-icons">
                    <div v-for="researchIcon of problem.researchIcons" v-bind:key="researchIcon.researchIconId" class="research-icon-parent">
                        <img v-if="researchIcon.title != ''" :src="require('@/assets/research-icons/' + researchIcon.image)" v-bind:title="researchIcon.title" />
                    </div>
                </div>
            </div>
            <hr />
            <div class="problem-content">
                <div class="text">
                    <h3>De aanleiding van dit probleem</h3>
                    <p>{{ problem.context }}</p>
                    <h3>De oplossing</h3>
                    <p>{{ problem.solution }}</p>
                    <h3>De kwaliteitsbewaking</h3>
                    <p>{{ problem.review }}</p>
                    <h3>De conclusie</h3>
                    <p>{{ problem.result }}</p>
                    <h3 v-if="problem.sources != ''">De bronnen</h3>
                    <div v-if="problem.sources != ''" class="sources">
                        <div v-for="source of problem.sources" v-bind:key="source.id" class="source">
                            <p>Bron {{ source.id }}: {{ source.title }}</p>
                            <a v-bind:href="source.url" target="_blank">{{ source.url }}</a>
                        </div>
                    </div>
                </div>
                <div v-if="problem.image != ''" class="image">
                    <div v-for="image of problem.images" v-bind:key="image">
                        <img :src="require('@/assets/problem-images/' + image)" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import products from "../json/data.json";

    export default {
        name: 'Problem',
        data() {
            return {
                product: products[this.$route.params.productId - 1],
                problem: products[this.$route.params.productId - 1].problems[this.$route.params.problemId - 1],
                backButtonTitle: ""
            }
        },
        mounted() {
            this.backButtonTitle = "Terug naar product '" + this.product.title + "'"
        }
    }
</script>

<style scoped>
    .problem-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 45px;
    }
    .problem-header .title {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .problem-research-icons {
        display: flex;
        flex-direction: row;
    }
    .research-icon-parent img {
        margin: 0 5px;
        height: 45px;
    }
    .problem-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .problem-content .text {
        width: 49%;
    }
    .problem-content .image {
        width: 50%;
    }
    .problem-content .image div img {
        border-radius: 10px;
        margin-bottom: 1rem;
        width: 100%;
    }
    .source {
        font-style: italic;
        margin: 1rem 0;
        text-align: left;
    }
    .source:last-child {
        margin-bottom: 0;
    }
    .source p {
        margin: 0;
    }
    h2, h4 {
        margin: 0;
    }
    h3, p {
        text-align: left;
    }
</style>