<template>
    <div class="content product">
        <div class="box-design box-large">
            <div class="title">
                <router-link class="back-button" to="/" title="Terug naar home">
                    <img src="../assets/chevron-left-solid.png" />
                </router-link>
                <h2>{{ product.title }}</h2>
            </div>
            <hr />
            <div class="product-top-content">
                <div class="product-text">
                    <h3 class="sub-title">De aanleiding van dit product</h3>
                    <p>{{ product.description }}</p>
                    <h3 if="product.problems == ''" class="sub-title">Conclusie</h3>
                    <p if="product.problems == ''">{{ product.endResult}}</p>
                </div>
                <iframe v-if="product.youtubeLink != ''"
                        width="560" height="315"
                        :src="product.youtubeLink"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
                <img v-if="product.image != ''" :src="require('@/assets/product-images/' + product.image)" />
                <div v-if="product.researchImages != ''" class="research-images">
                    <img v-for="researchImage of product.researchImages" v-bind:key="researchImage" :src="require('@/assets/research-images/' + researchImage)" />
                </div>
            </div>
        </div>
        <div v-if="product.problems != ''" class="box-design box-large">
            <h2>Problemen</h2>
            <hr />
            <p>
                Hieronder zijn alle problemen vermeldt die zijn ontstaan tijdens de ontwikkeling van '{{ product.title }}'.
            </p>
            <div class="problems-grid">
                <router-link v-for="problem of product.problems" v-bind:key="problem.problemId"
                             :to="{ name: 'Problem', params: { productId: product.productId, problemId: problem.problemId } }"
                             class="box-design problem">
                    {{ problem.title }}
                </router-link>
            </div>
        </div>
        <div v-if="product.problems != ''" class="box-design box-large">
            <h2>Conclusie</h2>
            <hr />
            <p>{{ product.endResult }}</p>
        </div>
    </div>
</template>

<script>
    import products from "../json/data.json";

    export default {
        name: 'Product',
        data() {
            return {
                product: products[this.$route.params.productId - 1]
            }
        }
    }
</script>

<style scoped>
    .title {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .product-top-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .product-text {
        padding-right: 10px;
        width: 49%;
    }
    .product-text .sub-title {
        margin-bottom: 1rem;
        text-align: left;
    }
    .product-text p {
        text-align: left;
    }
    .product-top-content img {
        border-radius: 10px;
        width: 50%;
    }
    .research-images {
        display: flex;
        flex-direction: column;
        max-height: 945px;
        overflow-y: auto;
        width: 50%;
    }
    .research-images img {
        margin: 0.5rem 0;
        width: 100%;
    }
    .research-images img:first-child {
        margin-top: 0px;
    }
    .research-images img:last-child {
        margin-bottom: 1px;
    }
    @media (max-width: 1000px) {
        .product-content {
            flex-direction: column;
            align-items: center;
        }
        .product-content *, .product-content .description {
            width: 100%;
        }
    }
    .problems-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px;
        max-width: 1400px;
        width: 100%;
    }
    .box-large {
        min-height: unset;
    }
    .problem {
        background-color: #424250;
        color: white;
        margin: 0 10px;
        padding: 10px;
        text-decoration: none;
        width: 30%;
    }
    .problem:hover {
        background-color: #515162;
    }
</style>