<template>
    <nav-bar></nav-bar>
    <router-view />
    <footer>
        <div class="title-logo">
            <h1>Digital Twins</h1>
            <h4><i>Portfolio</i></h4>
        </div>
        <div class="creator-credits">
            gemaakt door <b>Robbert Lengton</b>
        </div>
    </footer>
</template>

<script>
    import NavBar from './components/NavBar.vue'

    export default {
        name: 'App',
        components: {
            NavBar
        }
    }
</script>

<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto:100|Roboto:400');
    body {
        background-color: #424250;
        font-family: 'Roboto', serif;
    }
    #app {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: white;
        position: relative;
        min-height: 100vh;
        font-family: 'Roboto', serif;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 160px;
        padding-bottom: 140px;
    }
    .back-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #424250;
        border-radius: 100px;
        box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.3);
        height: 35px;
        width: 35px;
        margin-right: 10px;
    }
    .back-button:hover {
        background-color: #515162;
        box-shadow: unset;
    }
    .back-button img {
        margin-right: 3px;
        width: 18px;
    }
    h1,h2,h3,h4 {
        margin: 0;
    }
    .box-design {
        background-color: #33333D;
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 10px;
        box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.3);
    }
    .box-large {
        background-color: #33333D;
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 10px;
        box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.3);
        min-height: 200px;
        margin: 1rem;
        padding: 1rem;
        width: calc(100% - 20px);
        max-width: 1400px;
    }
    hr {
        border-top: 2px solid rgba(255,255,255,0.5);
    }
    img {
        border: 2px solid rgba(255,255,255,0.5);
    }
    a img, .research-icon-parent img {
        border: none;
    }
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 140px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer .title-logo {
        height: 85px;
        transform: scale(0.5);
    }
    footer .title-logo h1 {
        font-size: 4rem;
        text-shadow: 2px 2px 7px black;
    }
    footer .title-logo h4 {
        font-size: 2.68rem;
        font-weight: 100;
        margin-top: -18px;
    }
    .creator-credits {
        height: 55px;
    }
</style>
